

@for (step of steps; track $index) {
  @if ($index === currentStep) {
    <div class="card" [@animImageSlider]="currentStep">
      <div class="card-header" [style.background-color]="steps[currentStep].bgcolor">
        <img [src]="steps[currentStep].img" class="card-img-top" alt="{{ steps[currentStep].title }}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ steps[currentStep].title }}</h5>
        <p class="card-text">{{ steps[currentStep].description }}</p>
      </div>
      <div class="card-footer">
        <div class="indicators">
          @for (step of steps; track $index) {
            <span [class.active]="$index === currentStep" class="indicator" (click)="goToStep($index)"></span>
          }
        </div>
        <div class="controls">
          <button class="btn btn-circle btn-black" (click)="onPrev()" [disabled]="currentStep === 0">
            <i class="bi bi-arrow-left"></i>
          </button>
          <button class="btn btn-circle btn-black" (click)="onNext()" [disabled]="currentStep === steps.length - 1">
            <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  }
}


